@import url(reset.css);

/*font*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap");

.text-line {
  text-decoration: line-through;
  font-style: italic;
}

.hidden {
  display: none;
}

body {
  font-family: "Baloo 2";
  color: #f9f9f9;

  width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input {
  width: 200px;
  height: 30px;

  padding-left: 10px;
  border-radius: 3px;
  border: solid 2px whitesmoke;
}

input:focus {
  outline: none;
}

button,
input[type="submit"],
input[type="button"] {
  padding: 0px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.main-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.todo,
.login {
  margin: 0px 80px;
}

/*0. nav-bar*/
/*playlist*/
.nav_bar {
  padding: 5px;
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: black;
}

.bgm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 35px;
  border: solid 3.5px whitesmoke;
  border-radius: 15px;
}

.bgm span,
.bgm__btn {
  font-size: 25px;
  color: #f9f9f9;
}

/*1. todo*/
.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo__row-date {
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
}

.todo__row-list {
  padding: 25px;
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  font-size: 22px;
}

.todo__row-date #date {
  font-size: 26px;
}

#todo-input {
  width: 280px;
  margin-bottom: 25px;
}

/*2. date, login*/
.login {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*clock*/
.login__column2 #clock {
  font-size: 80px;
}

/*login-form*/
.login__column3 {
  margin-top: 25px;
}

/*greeting*/
#greeting {
  text-align: center;
}

#greeting__name {
  font-size: 25px;
  margin: 25px 0;
}

/*weather*/
#greeting__weather {
  width: 250px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#greeting__weather-main {
  font-size: 22px;
}

#greeting__weather-temp {
  margin-left: 15px;
  font-size: 35px;
}

#greeting__weather-max,
#greeting__weather-min {
  font-size: 18px;
}
